.container {
  min-height: 80vh;
  font-family: Quicksand;
}

.header {
  text-align: center;
  padding-top: 50px;
  font-family: Playfair;
}

.form {
  width: 40%;
  margin: 0 auto;
}

.btn {
  border: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
  background: #f7bd76;
}

.btn:hover {
    opacity: 0.8;
  }

@media screen and (max-width: 1024px) {
  .form {
    width: 70%;
  }
}

@media screen and (max-width: 750px) {
  .form {
    width: 80%;
    font-size: 12px;
  }
}
