

.container{
    min-height: 80vh;
    font-family: Playfair;
}

.header{
    text-align: center;
    padding-top: 50px;
    font-family: Martel;
    font-size: 18px;
}

.table{
    width: 50%;
    margin: 0 auto
}

.tableHead{
    background: #f7bd76;
    color: white;
    /* border-bottom: 5px transparent solid; */
}

.tableRow{
    /* border-bottom: 5px transparent solid;
    background: white; */
    border-bottom: #f8f8fb solid 10px;
    border-top: #f8f8fb solid 10px;
}

.btn {
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    background: #24a54b;;
  }

  .btn1 {
    background: #24a54b;;
  }
  
  .btn2 {
    background:  #fc3939;;
  }

  .empty{
      width: 100%;
      min-height: 30vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }




@media screen and (max-width: 1024px){
    .table{
        width: 70%;
    }
}

@media screen and (max-width: 750px){
    .table{
        width: 90%;
    }
    .tableHead{
        font-size: 15px;
    }
    .tableRow{
        font-size: 12px;
    }
}